<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="LastProject" value=""/>
    <add key="ConnectionFile" value="Connections.xml"/>
    <add key="ApplicationTitle" value="Xess Generator"/>
    <add key="Notepad++Path" value="C:\Program Files\Notepad++\notepad++.exe"/>
    <add key="RegistryPath" value="Software\CygSoft\XessGenerator\v2"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="PlaceholderPrefix" value="@{"/>
    <add key="PlaceholderPostfix" value="}"/>
    <add key="SyntaxFilePath" value="syntax.xml"/>
    <add key="QikScriptSyntaxFile" value="qikscript.syn"/>
    <add key="QikTemplateSyntaxFile" value="qiktemplate.syn"/>
    <add key="DefaultSyntax" value="Text" />
    <add key="SQLServerSyntax" value="SQLServer2K_SQL"/>
    <add key="WinMergePath" value="C:\Program Files (x86)\WinMerge\winmergeU.exe"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
